@charset "UTF-8";
.button {
  line-height: 54px;
  padding-bottom: 15px;
  border: 1px solid #1e1e1e;
  border-radius: 55px;
  text-decoration: none;
  vertical-align: top;
  width: 86px;
  height: 40px;
  text-align: center;
}
.button:hover {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  background-color: #1E8702;
  color: #fff;
}
.button--green {
  background-color: #1E8702;
  border: 1px solid #1E8702;
  color: #fff;
  width: 139px;
  height: 40px;
}
.button--green:hover {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  opacity: 0.75;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 150px;
}
.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 290px;
  height: 323px;
  border-radius: 35px;
  background-color: #fff;
}
.cards__item:not(:first-child) {
  margin-left: 10px;
}
.cards__item-price {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 335px;
}
.cards__item-price-inner {
  position: absolute;
  display: inline;
  top: 20px;
  left: 20px;
  padding: 10px;
  height: 66px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
}
.cards__item-text {
  position: absolute;
  width: 200px;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.cards-mobile {
  display: none !important;
}
@media (max-width: 1024px) {
  .cards {
    display: none;
  }
  .cards-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 30px 0 150px;
  }
  .cards-mobile__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 260px;
    height: 323px;
    border-radius: 35px;
    background-color: #fff;
  }
  .cards-mobile__item-price {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .cards-mobile__item-price-inner {
    position: absolute;
    display: inline;
    top: 20px;
    left: 20px;
    padding: 10px;
    height: 66px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .cards-mobile__item-text {
    position: absolute;
    width: 200px;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }
  .cards__item-price {
    width: 400px !important;
  }
}

.footer {
  background-color: #fff;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 70px;
  padding-bottom: 50px;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__logo {
  padding-top: 43px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 28px;
}
.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin-left: 22px;
  color: #1E1E1E !important;
  -webkit-text-decoration-color: #1E1E1E !important;
          text-decoration-color: #1E1E1E !important;
  outline-color: #1E1E1E !important;
}
.footer__menu-list-item {
  position: relative;
  color: #1E1E1E !important;
}
.footer__menu-list-item:not(:first-child) {
  margin-top: 15px;
}
.footer__menu-list-item a {
  display: inline;
  position: relative;
  text-decoration: none;
}
.footer__menu-list-item a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #1E1E1E; /*задаём цвет линии*/
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.footer__menu-list-item a:hover:after, .footer__menu-list-item a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.footer__menu-list-item a:visited {
  color: #1E1E1E !important;
}
.footer__menu-list-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer__privacy-policy {
  margin-left: 168px;
  color: #1E1E1E;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 76px;
}
.footer__icons-item {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0 0 79px;
}
.footer__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer__contacts-list-item {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
.footer__contacts-list-item:not(:first-child) {
  margin-top: 15px;
}
.footer__contacts-list-item:visited {
  color: #1E1E1E;
}
.footer__contacts-list-item:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #1E1E1E; /*задаём цвет линии*/
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.footer__contacts-list-item:hover:after, .footer__contacts-list-item:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.footer__contacts-creator {
  margin-left: 453px;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.footer__contacts-creator:visited {
  color: #1E1E1E;
}
.footer__privacy-policy {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.footer__mobile-bottom {
  display: none;
}
@media (max-width: 1024px) {
  .footer__bottom {
    display: none;
  }
  .footer__bottom-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu {
    margin-left: -10px;
    color: #1E1E1E;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }
  .footer__menu-list-item a {
    opacity: 0.5;
  }
  .footer__icons {
    margin-left: -10px;
  }
  .footer__contacts {
    margin-left: 10px;
  }
  .footer__contacts-list-item:after:hover {
    width: 0;
  }
  .footer__mobile-bottom {
    margin-top: 40px;
    margin-left: 10px;
    display: block;
  }
  .footer__mobile-bottom-inner {
    width: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }
  .footer__mobile-privacy-policy {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    opacity: 0.5;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 20px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 20px;
  padding: 20px 0;
  width: 1190px;
  background-color: #fff;
  border-radius: 35px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.header__menu-item {
  margin-left: 30px;
}
.header__menu-item a {
  position: relative;
  text-decoration: none;
  color: #1E1E1E;
}
.header__menu-item a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #1E1E1E; /*задаём цвет линии*/
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.header__menu-item a:hover:after, .header__menu-item a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.header__logo {
  height: 32px;
  margin-left: 29px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 104px;
}
.header__buttons-item {
  margin-left: 16px;
}
.header__mobile-menu {
  display: none;
}
@media (max-width: 1024px) {
  .header {
    position: fixed;
    left: 2%;
    width: 96%;
    z-index: 10;
  }
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .header__menu {
    display: none;
  }
  .header__buttons {
    display: none;
  }
  .header__mobile-menu {
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }
}

.how-it-works {
  background-color: #fff;
  border-radius: 50px;
  margin: 150px auto 0;
  height: 779px;
}
.how-it-works__headline {
  padding-top: 100px;
  width: 427px;
  font-size: 47px;
  margin: 0 auto;
  text-align: center;
}
.how-it-works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 95px;
}
.how-it-works__list-item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}
.how-it-works__list-item h3 {
  margin-bottom: 10px;
  font-size: 29px;
  font-weight: 700;
  line-height: 32px;
}
.how-it-works__list-item:not(:first-child) {
  margin-left: 50px;
}
.how-it-works__list-item:first-child img {
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .how-it-works {
    width: 100%;
    height: auto;
  }
  .how-it-works__headline {
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    margin-top: 50px;
    padding: 50px 20px;
    width: 340px;
    text-align: left;
  }
  .how-it-works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .how-it-works__list-item {
    margin-left: 0 !important;
    margin-bottom: 50px;
  }
  .how-it-works__list-item h3 {
    margin-bottom: 36px;
  }
}

.how-to-start {
  height: 1127px;
  background-color: #fff;
  padding: 100px;
}
.how-to-start__headline {
  margin: 0 auto;
  width: 661px;
  font-size: 47px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  padding-bottom: 50px;
}
.how-to-start__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.how-to-start__center {
  position: relative;
}
.how-to-start__dot {
  position: absolute;
  left: -5px;
}
.how-to-start__dot--first {
  top: 0;
}
.how-to-start__dot--second {
  top: 220px;
}
.how-to-start__dot--third {
  top: 440px;
}
.how-to-start__dot--fourth {
  top: 660px;
}
.how-to-start__dot--fifth {
  top: 880px;
}
.how-to-start__line {
  position: absolute;
}
.how-to-start__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}
.how-to-start__item--first {
  top: -10px;
  left: 150px;
}
.how-to-start__item--second {
  top: 30px;
  left: 650px;
}
.how-to-start__item--third {
  top: 430px;
  left: 150px;
}
.how-to-start__item--fourth {
  top: 650px;
  left: 650px;
}
.how-to-start__item--fifth {
  top: 870px;
  left: 150px;
}
.how-to-start__item-inner {
  margin-left: 15px;
}
.how-to-start__item-number {
  font-size: 29px;
  font-weight: 700;
  line-height: 32px;
  color: #0DAA61;
}
.how-to-start__item-name {
  font-size: 29px;
  font-weight: 700;
  line-height: 32px;
  color: #1E1E1E;
}
.how-to-start__item-description {
  width: 239px;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}
.how-to-start__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px 30px;
}
.how-to-start__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
.how-to-start__right-item--first {
  margin: 180px 0 200px;
}
.how-to-start__mobile-inner {
  display: none;
}
@media (max-width: 1024px) {
  .how-to-start {
    padding: 50px 20px 150px;
  }
  .how-to-start__headline {
    width: 100%;
    text-align: left;
    font-size: 32px;
  }
  .how-to-start__center {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .how-to-start__item {
    margin-bottom: 0 !important;
  }
  .how-to-start__inner {
    display: none;
  }
  .how-to-start__mobile-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .how-to-start__mobile-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .how-to-start__mobile-item {
    position: absolute;
    margin-left: 20px;
  }
  .how-to-start__mobile-item--first {
    top: -5px;
  }
  .how-to-start__mobile-item--second {
    top: 215px;
  }
  .how-to-start__mobile-item--third {
    top: 435px;
  }
  .how-to-start__mobile-item--fourth {
    top: 650px;
  }
  .how-to-start__mobile-item--fifth {
    top: 870px;
  }
  .how-to-start__mobile-item-name {
    width: 264px;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    color: #1E1E1E;
  }
  .how-to-start__mobile-item-description {
    width: 264px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    color: #6E6E73;
  }
  .how-to-start__mobile-center-item {
    margin-top: -5px;
    margin-left: 23px;
    color: #0DAA61;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
  }
  .how-to-start__mobile-center-item:not(:first-child) {
    margin-top: 197px;
  }
  .how-to-start__mobile-dot {
    position: absolute;
    left: -5px;
  }
  .how-to-start__mobile-dot--first {
    top: 0;
  }
  .how-to-start__mobile-dot--second {
    top: 220px;
  }
  .how-to-start__mobile-dot--third {
    top: 440px;
  }
  .how-to-start__mobile-dot--fourth {
    top: 660px;
  }
  .how-to-start__mobile-dot--fifth {
    top: 880px;
  }
}

.intentions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intentions__item {
  text-decoration: none;
}
.intentions__item h3:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}
.intentions__item-illustration {
  width: 100%;
  height: 416px;
  border-radius: 35px 35px 0px 0px;
}
.intentions__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #0DAA61;
  height: 224px;
  border-radius: 0 0 20px 20px;
  margin-top: -5px;
}
.intentions__item-bottom-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #fff;
}
.intentions__item-bottom-inner h3 {
  width: 185px;
  margin: 10px 0 0 10px;
}
.intentions__item-bottom-inner p {
  text-transform: uppercase;
  margin-left: 10px;
}
.intentions__item-bottom-image {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  left: 10px;
}
.main-description {
  height: 1605px;
  background-color: #fff;
  border-radius: 50px;
  margin-top: 150px;
}
.main-description__headline {
  width: 524px;
  padding: 100px 0 100px 130px;
  font-size: 47px;
  font-weight: 700;
  line-height: 54px;
}
.main-description__headline--second {
  width: 759px;
}
@media (max-width: 575px) {
  .main-description__headline {
    width: auto;
  }
}
.main-description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
  margin: 0 auto;
}
.main-description__list-item {
  padding: 25px;
  margin-left: -15px;
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%;
}
.main-description__technologies-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-description__technologies-description {
  padding: 0 100px;
  color: #6E6E73;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.main-description__technologies-description p {
  opacity: 0.8;
}
.main-description__technologies-description-button {
  margin-top: 30px;
  background-color: #1E8702;
  color: #fff;
  text-decoration: none;
  width: 202px;
  height: 20px;
  padding: 15px 15px 20px 25px;
  border-radius: 32px;
  font-weight: 600;
  line-height: 25px;
}
.main-description__technologies-description-button:hover {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  opacity: 0.75;
}
.main-description__technologies-description-list-item {
  cursor: pointer;
  position: relative;
  padding: 28px 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-top: 1px solid #000;
}
.main-description__technologies-description-list-item summary {
  font-weight: 600;
  font-size: 29px;
}
.main-description__technologies-description-list-item :not(summary) {
  color: #6E6E73;
}
.main-description__technologies-description-list-item li {
  width: 380px;
  font-weight: 700;
}
.main-description__technologies-description-list-item-text {
  width: 80%;
}
.main-description__technologies-description-list-item-toggle {
  position: absolute;
  display: inline;
  height: 20px;
  top: 28px;
  right: 5px;
  width: 21px;
  height: 22px;
}
.main-description__technologies-description-list-item-list {
  display: none;
}
@media (max-width: 1024px) {
  .main-description {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-description__headline {
    padding: 30px 15px;
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .main-description__headline {
    width: 310px;
  }
}
@media (max-width: 1024px) {
  .main-description__list {
    padding: 0 20px;
  }
  .main-description__list-item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .main-description__list-item p {
    color: #6E6E73;
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .main-description__technologies-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-description__technologies-description {
    padding: 20px;
  }
  .main-description__technologies-description-button {
    display: none;
    margin: 30px auto 0;
  }
  .main-description__technologies-description-list {
    padding: 20px;
  }
  .main-description__technologies-description-list-item li {
    width: 280px;
  }
  .main-description__technologies-description-list-item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-description__technologies-description-list-item-list {
    padding: 20px;
  }
  .main-description__technologies-description-list-item-text {
    color: #1E1E1E !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }
  .main-description__technologies-description-list-item-toggle {
    cursor: pointer;
    display: inline;
    height: 20px;
    width: 21px;
    height: 21px;
  }
  .main-description__technologies-description-list-item:last-child {
    border-bottom: 1px solid #000;
    margin-bottom: 50px;
  }
}
@media (max-width: 1024px) and (max-width: 575px) {
  .main-description__technologies-description p {
    width: 300px;
  }
}

.mobile-menu-overlay {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-menu-overlay {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 29px;
    font-weight: 700;
    background-color: #EEEDEF;
  }
  .mobile-menu-overlay--active {
    display: block;
  }
  .mobile-menu-overlay__list {
    margin: 150px 20px 100px;
    list-style-type: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .mobile-menu-overlay__list-item {
    margin-top: 20px;
  }
  .mobile-menu-overlay__list-item a {
    text-decoration: none;
  }
}
.mobile-menu-overlay__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 202px 20px 0;
}
.mobile-menu-overlay__buttons-item {
  margin-top: 15px;
  width: 100%;
}

.our-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}
.our-rates__item {
  width: 350px;
  height: 640px;
  background-color: #fff;
  border-radius: 35px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.our-rates__item:not(:last-child) {
  margin-right: 10px;
}
.our-rates__item-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.our-rates__item-inner-price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 10px;
  border: 1px solid #1E1E1E;
  border-radius: 35px;
}
.our-rates__item-inner-price-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our-rates__item-inner-price-number {
  font-family: Manrope;
  font-size: 47px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E1E1E;
}
.our-rates__item-inner-price-per-month {
  margin-top: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: Manrope;
  font-size: 29px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.34;
  color: #1E1E1E;
}
.our-rates__item-quantity {
  display: inline;
  padding: 10px;
  border-radius: 9px;
  background-color: #0DAA61;
  color: #fff;
}
.our-rates__item-short-description {
  width: 232px;
  font-size: 29px;
  margin-top: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #1E1E1E;
}
.our-rates-mobile {
  display: none !important;
}
@media (max-width: 1024px) {
  .our-rates {
    display: none;
  }
  .our-rates-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-bottom: 30px;
  }
  .our-rates-mobile__item {
    width: 330px;
    height: 517px !important;
    background-color: #fff;
    border-radius: 35px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-rates-mobile__item:not(:last-child) {
    margin-right: 0;
  }
  .our-rates-mobile__item-inner {
    padding: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .our-rates-mobile__item-inner-price {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 10px;
    margin: 30px;
    border: 1px solid #1E1E1E;
    border-radius: 35px;
  }
  .our-rates-mobile__item-inner-price-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .our-rates-mobile__item-inner-price-number {
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
  }
  .our-rates-mobile__item-inner-price-per-month {
    margin-top: 15px;
    -ms-flex-item-align: center;
        align-self: center;
    font-family: Manrope;
    font-size: 29px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.34;
    color: #1E1E1E;
  }
  .our-rates-mobile__item-inner p {
    width: 295px;
  }
  .our-rates-mobile__item-quantity {
    display: inline;
    padding: 10px;
    border-radius: 9px;
    background-color: #0DAA61;
    color: #fff;
  }
  .our-rates-mobile__item-short-description {
    width: 232px;
    margin-top: 50px;
    font-size: 29px;
    font-weight: 700;
    line-height: 32px;
    color: #1E1E1E;
  }
}

.possibilities {
  text-align: center;
}
.possibilities__headline {
  margin-top: 150px;
  font-size: 47px;
}
.possibilities__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.possibilities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}
.possibilities__list-item {
  cursor: pointer;
  color: #1E1E1E;
  max-width: 350px;
  height: 110px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 20px;
  text-decoration: none;
}
.possibilities__list-item:visited {
  color: #1E1E1E;
}
.possibilities__list-item--active {
  background-color: #0daa61;
  color: #fff;
}
.possibilities__list-item--active:visited {
  color: #fff;
}
.possibilities__list-item-inner {
  width: 250px;
}
.possibilities__image {
  width: 838px;
  display: none;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 70px 0 0 60px;
}
.possibilities__image--active {
  display: block;
}
.possibilities__mobile-nav {
  display: none;
}
@media (max-width: 1024px) {
  .possibilities__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .possibilities__list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 20px;
  }
  .possibilities__list-item {
    display: none;
    margin-left: 10px;
    width: 300px;
  }
  .possibilities__list-item--active {
    display: block;
  }
  .possibilities__image {
    margin: 0;
  }
  .possibilities__image img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .possibilities__headline {
    margin-top: 150px;
    margin-bottom: 40px;
    font-size: 32px;
    margin-left: 20px;
  }
  .possibilities__mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .possibilities__mobile-nav-item {
    cursor: pointer;
    width: 8px;
    border-radius: 11px;
    margin-left: 8px;
    background-color: #1E1E1E;
  }
  .possibilities__mobile-nav-item--active {
    width: 60px;
    height: 8px;
    opacity: 0.1;
    border-radius: 11px;
  }
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 150px auto 0;
  padding: 10px;
}
.promo__main {
  width: 500px;
}
.promo__main-header {
  font-size: 47px;
  font-weight: 700;
  line-height: 54px;
}
.promo__main-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 450px;
  margin-bottom: 62px;
}
.promo__main-bottom-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__main-bottom-work-button {
  width: 262px;
  height: 55px;
  padding: 0;
  border-radius: 32px;
}
.promo__main-bottom-work-button:hover {
  opacity: 0.75;
}
.promo__main-bottom-work-image {
  margin-left: 15px;
  width: 40px;
  height: 40px;
}
.promo__main-bottom-work-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
}
.promo__main-bottom-work-start span {
  margin-left: 38px;
  width: 162px;
}
.promo__main-bottom-work-start:hover span {
  text-decoration: underline;
  -webkit-text-decoration-color: #1E1E1E;
          text-decoration-color: #1E1E1E;
  text-decoration-thickness: 1px;
  text-underline-offset: 7px;
}
.promo__main-bottom-price {
  margin-bottom: 20px;
}
.promo__main-bottom-price-big {
  font-size: 47px;
  font-weight: 700;
  line-height: 64px;
}
.promo__main-bottom-price-small {
  font-size: 29px;
  font-weight: 700;
  line-height: 32px;
  opacity: 0.34;
}
@media (max-width: 1024px) {
  .promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo__image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto;
  }
  .promo__image img {
    width: 357px;
  }
  .promo__main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo__main-header {
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
  }
  .promo__main-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo__main-bottom-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .promo__main-bottom-work-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .promo__main-bottom-work-start span {
    margin-top: -15px;
    margin-left: 0;
  }
  .promo__main-bottom-work-button {
    width: 100%;
  }
  .promo__main-bottom-work-image {
    margin-top: -10px;
  }
  .promo__main-bottom-price {
    text-align: center;
  }
  .promo__main-description {
    width: 350px;
  }
}
@media (max-width: 1024px) and (min-width: 576px) {
  .promo__main-description {
    margin-top: 20px;
    width: auto;
    text-align: center;
  }
}

.subscription {
  width: 100%;
  height: 711px;
  background-color: #0DAA61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscription__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 105px;
}
.subscription__inner-headline {
  width: 449px;
  font-size: 47px;
  font-weight: 700;
  line-height: 54px;
  color: #fff;
}
.subscription__form {
  margin-left: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subscription__form label {
  color: #fff;
}
.subscription__form label span {
  border-bottom: 1px solid #fff;
}
.subscription__form-text-input {
  color: #fff;
  padding: 15px;
  background-color: rgba(30, 30, 30, 0.15);
  width: 590px;
  height: 20px;
  border: none !important;
  border-radius: 53px;
  margin-top: 15px;
}
.subscription__form-text-input:focus {
  outline: 1px solid #fff;
}
.subscription__form-text-input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  z-index: 100;
}
.subscription__form-text-input::-moz-placeholder {
  color: #fff;
  opacity: 1;
  z-index: 100;
}
.subscription__form-text-input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  z-index: 100;
}
.subscription__form-text-input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  z-index: 100;
}
.subscription__form-text-input::placeholder {
  color: #fff;
  opacity: 1;
  z-index: 100;
}
.subscription__form-text-label {
  margin: 10px 0 0 20px;
}
.subscription__form-privacy-policy {
  position: relative;
}
.subscription__form-privacy-policy-link {
  color: #fff !important;
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.subscription__form-privacy-policy-checkbox {
  position: absolute;
  top: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 12.5px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
}
.subscription__form-privacy-policy-checkbox:checked {
  background-image: url("../img/checkbox-hover.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.subscription__form-submit-button {
  cursor: pointer;
  color: #fff;
  background-color: #1E1E1E;
  width: 290px;
  height: 50px;
  line-height: 19.12px;
  border-radius: 53px;
  margin-top: 15px;
  border: none !important;
}
.subscription__form-submit-button:hover {
  background-color: #6E6E73;
}
@media (max-width: 1400px) {
  .subscription__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscription__inner-headline {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 1024px) {
  .subscription__inner {
    display: block;
    margin-top: 0;
    padding: 20px;
  }
  .subscription__inner-headline {
    width: 320px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
  }
  .subscription__form {
    margin-left: 0;
  }
  .subscription__form-text-input {
    width: auto;
  }
  .subscription__form-privacy-policy label {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }
  .subscription__form-submit-button {
    margin: 30px auto 0;
    width: 100%;
  }
}

* {
  font-family: Manrope;
  margin: 0;
  padding: 0;
}

a {
  color: #1E1E1E;
}

.wrapper {
  overflow: hidden;
  padding-top: 20px;
  background-color: #EEEDEF;
}

.white-section {
  width: 100%;
  background-color: #fff;
}

.container {
  width: 1190px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

.headline {
  font-size: 47px;
}
.headline-big {
  font-size: 47px;
  width: 600px;
}
@media (max-width: 1024px) {
  .headline {
    padding: 20px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    width: auto;
  }
}

.swiper-slide-active {
  margin-left: 0;
}

.swiper-wrapper {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */