* {
    font-family: Manrope;
    margin: 0;
    padding: 0;
}
a {
    color: #1E1E1E;
}
.wrapper {
    overflow: hidden;
    padding-top: 20px;
    background-color: #EEEDEF;
}
.white-section {
    width: 100%;
    background-color: #fff;
}
.container {
    width: 1380px;
    margin: 0 auto;
    &--smaller {
        width: 1380px;
        margin: 0 auto;
    }
    &--inner {
        width: 1190px;
        margin: 0 auto;
    }
    @media (max-width: 1799px) {
        &--smaller {
            width: 1190px;
            margin: 0 auto;
        }
    }
    @media (min-width: 1800px) {
        width: 1600px;
        // &--inner {
        //     width: 80%;
        //     margin: 0 auto;
        // }
    }
    @media (max-width: 1024px) {
        width: 90%;
        &--inner {
            width: 100%;
            margin: 0 auto;
        }
        &--smaller {
            width: 90%;
            margin: 0 auto;
        }
    }
    // @media (max-width: 375px) {
        //     width: 375px;
        // }
}
.headline {
    margin-top: 150px;
    font-size: 47px;
    &-big {
        font-size: 47px;
        width: 600px;
        margin-top: -10px;
    }
    @media (max-width: 1024px) {
        padding: 20px;
        font-size: 32px;
        font-weight: 700;
        line-height: 37px;
        width: auto;
    }
}
.swiper-slide-active {
    margin-left: 0;
}
.swiper-wrapper {
    margin-left: 10px;
}

* {
    box-sizing: border-box;
  }
  

img
{
    vertical-align: middle;
}
.img-responsive
{
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded
{
    border-radius: 3px;
}
.img-thumbnail
{
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle
{
    border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #f5f5f6;
        left: 50%;
        top: 20px;
        bottom: 20px;
        margin-left: -4px;
    }

    .timeline-centered .timeline-entry {
        margin-top: -20px;
        position: relative;
        width: 100%;
        // float: right;
        margin-bottom: 70px;
        // clear: both;
        display: flex;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        // .timeline-centered .timeline-entry.left-aligned {
        //     float: left;
        // }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                // margin-right: -3px;
                justify-content: flex-end;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    // float: right;
                    position: absolute;
                    right: -3px;
                }
                .timeline-centered .timeline-entry.right-aligned .timeline-entry-inner .timeline-icon {
                    // float: right;
                    position: absolute;
                    left: -6px;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    position: relative;
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: auto;
            width: 50%;
            display: flex;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 11px;
                height: 11px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                box-shadow: 0 0 0 5px #f5f5f6;
                line-height: 40px;
                font-size: 15px;
                float: left;
            }
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background-color: #000;
                color: #fff;
            }
            //   .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
            //       background-color: #303641;
            //       color: #fff;
            //   }

            //   .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
            //       background-color: #ee4749;
            //       color: #fff;
            //   }

            //   .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
            //       background-color: #00a651;
            //       color: #fff;
            //   }

            //   .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
            //       background-color: #21a9e1;
            //       color: #fff;
            //   }

            //   .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
            //       background-color: #fad839;
            //       color: #fff;
            //   }

            //   .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
            //       background-color: #cc2424;
            //       color: #fff;
            //   }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
            //   background: #f5f5f6;
            //   padding: 1.7em;
                margin-left: 70px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            .timeline-label p {
                padding-left: 40px;
            }

                // .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                //     content: '';
                //     display: block;
                //     position: absolute;
                //     width: 0;
                //     height: 0;
                //     border-style: solid;
                //     border-width: 9px 9px 9px 0;
                //     border-color: transparent #f5f5f6 transparent transparent;
                //     left: 0;
                //     top: 10px;
                //     margin-left: -9px;
                // }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    // width: 240px;
                    color: #6E6E73;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 16px;
                    margin: 0;
                    line-height: 1.428571429;
                    // padding-left: 30px;
                }
                
                .timeline-centered .timeline-entry:nth-child(even) .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry:nth-child(even) .timeline-entry-inner .timeline-label p  {
                    margin-right: auto;
                }
                .timeline-centered .timeline-entry:nth-child(odd) .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry:nth-child(odd) .timeline-entry-inner .timeline-label p  {
                    // margin-left: auto;
                    // text-align: right;
                    padding-left: 20px;
                    // margin-left: -40px;
                }
                // .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label h2 {
                //     text-align: right;
                // }
                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    color: #1E1E1E;
                    font-size: 29px !important;
                    font-weight: 700;
                    line-height: 35px;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 p {
                    font-size: 29px !important;
                    font-weight: 700;
                    line-height: 23px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        color: #1E8702;
                    //   -webkit-opacity: .6;
                    //   -moz-opacity: .6;
                    //   opacity: .6;
                    //   -ms-filter: alpha(opacity=60);
                    //   filter: alpha(opacity=60);
                    }
                    ul.timeline-mobile {
                    list-style-type: none;
                    position: relative;
                }
                ul.timeline-mobile:before {
                    content: ' ';
                    background: #d4d9df;
                    display: inline-block;
                    position: absolute;
                    left: 28px;
                    width: 2px;
                    height: 100%;
                    // z-index: 400;
                }
                ul.timeline-mobile > li {
                    margin: 20px 0;
                    padding-left: 50px;
                }
                ul.timeline-mobile > li:last-child {
                    margin-bottom: 0;
                }
                ul.timeline-mobile > li > h2 > span {
                    color: #1E8702;
                }
                ul.timeline-mobile > li:before {
                    content: ' ';
                    display: inline-block;
                    position: absolute;
                    background-color: #000;
                    border-radius: 50%;
                    left: 23px;
                    width: 12px;
                    height: 12px;
                    // z-index: 400;
                }
                .mobile-show {
                    display: none;
                }
                @media (max-width: 575px) {
                    .headline {
                        margin-top: 0;
                    }
                    .mobile-show {
                        display: block;
                    }
                    .mobile-hide {
                        display: none;
                    }
                }

@media (max-width: 1024px) {
    #precise-farming {
        margin-top: 0 !important;
    }
}

@import 'blocks/button.scss';
@import 'blocks/cards.scss';
@import 'blocks/footer.scss';
@import 'blocks/header.scss';
@import 'blocks/how-it-works.scss';
@import 'blocks/how-to-start.scss';
@import 'blocks/intentions.scss';
@import 'blocks/main-description.scss';
@import 'blocks/mobile-menu-overlay.scss';
@import 'blocks/our-rates.scss';
@import 'blocks/possibilities.scss';
@import 'blocks/promo.scss';
@import 'blocks/subscription.scss';
