* {
    font-family: Manrope;
    margin: 0;
    padding: 0;
}
a {
    color: #1E1E1E;
}
.wrapper {
    overflow: hidden;
    padding-top: 20px;
    background-color: #EEEDEF;
}
.white-section {
    width: 100%;
    background-color: #fff;
}
.container {
    width: 1190px;
    margin: 0 auto;
    @media (max-width: 1024px) {
        width: 90%;
    }
    // @media (max-width: 375px) {
    //     width: 375px;
    // }
}
.headline {
    font-size: 47px;
    &-big {
        font-size: 47px;
        width: 600px;
    }
    @media (max-width: 1024px) {
        padding: 20px;
        font-size: 32px;
        font-weight: 700;
        line-height: 37px;
        width: auto;
    }
}
.swiper-slide-active {
    margin-left: 0;
}
.swiper-wrapper {
    margin-left: 10px;
}

@import 'blocks/button.scss';
@import 'blocks/cards.scss';
@import 'blocks/footer.scss';
@import 'blocks/header.scss';
@import 'blocks/how-it-works.scss';
@import 'blocks/how-to-start.scss';
@import 'blocks/intentions.scss';
@import 'blocks/main-description.scss';
@import 'blocks/mobile-menu-overlay.scss';
@import 'blocks/our-rates.scss';
@import 'blocks/possibilities.scss';
@import 'blocks/promo.scss';
@import 'blocks/subscription.scss';
