.cards {
    display: flex;
    margin: 30px 0 150px;
    &__item {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 290px;
        height: 323px;
        border-radius: 35px;
        background-color: #fff;
        &:not(:first-child) {
            margin-left: 10px;
        }
        &-price {
            position: relative;
            flex: 1 1 auto;
            width: 335px;
            &-inner {
                position: absolute;
                display: inline;
                top: 20px;
                left: 20px;
                padding: 10px;
                height: 66px;
                border: 1px solid black;
                border-radius: 50%;
                font-size: 54px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        &-text {
            position: absolute;
            width: 200px;
            bottom: 20px;
            left: 20px;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
        }
    }
    &-mobile {
        display: none !important;
    }
    @media (max-width: 575px) {
        display: none;
        &-mobile {
            display: flex !important;
            margin: 30px 0 150px;
            &__item {
                // margin-left: 20px;
                display: flex;
                position: relative;
                flex-direction: column;
                width: 260px;
                height: 323px;
                border-radius: 35px;
                background-color: #fff;
                // &--outer {
                //     margin-left: 10px !important;
                // }
                &-price {
                    position: relative;
                    flex: 1 1 auto;
                    // width: 335px;
                    &-inner {
                        position: absolute;
                        display: inline;
                        top: 20px;
                        left: 20px;
                        padding: 10px;
                        height: 66px;
                        border: 1px solid black;
                        border-radius: 50%;
                        font-size: 54px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
                &-text {
                    position: absolute;
                    width: 200px;
                    bottom: 20px;
                    left: 20px;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 20px;
                }
            }
        }
        &__item {
            &-price {
                width: 400px !important;
            }
        }
    }
}
