.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    margin: 0 auto 20px;
    padding: 20px 0;
    width: 1190px;
    background-color: #fff;
    border-radius: 35px;
    &__menu {
        display: flex;
        list-style-type: none;
        &-item {
            margin-left: 30px;
            a {
                text-decoration: none;
                color: #1E1E1E;
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                }
            }
        }
    }
    &__logo {
        height: 32px;
        margin-left: 29px;
    }
    &__buttons {
        display: flex;
        margin-left: 104px;
        &-item {
            margin-left: 16px;
            // color: #1E1E1E;
        }
    }
    &__mobile-menu {
        display: none;
    }
    @media (max-width: 575px) {
        position: fixed;
        left: 2%;
        width: 96%;
        z-index: 10;
        &__logo {
            flex: 1 1 auto;
        }
        &__menu {
            display: none;
        }
        &__buttons {
            display: none;
        }
        &__buttons-item {
            
        }
        &__mobile-menu {
            display: block;
            cursor: pointer;
            margin-right: 20px;
        }
    }
}
