.main-description {
    // width: 1380px;
    height: 1605px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 150px;
    &__headline {
        width: 524px;
        padding: 100px 0 100px 130px;
        font-size: 47px;
        font-weight: 700;
        line-height: 54px;
        &--second {
            width: 759px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 50px;
        margin: 0 auto;
        &-item {
            padding: 25px;
            padding-left: 0;
            margin-left: -15px;
            flex-basis: 26%;
        }
    }
    &__technologies {
        &-inner {
            display: flex;
        }
        &-description {
            padding: 0 100px;
            color: #6E6E73;
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            opacity: 0.8;
            &-button {
                margin-top: 30px;
                background-color: #1E8702;
                color: #fff;
                text-decoration: none;
                width: 202px;
                height: 20px;
                padding: 15px 15px 20px 25px;
                border-radius: 32px;
                font-weight: 600;
                line-height: 25px;
                &:hover {
                    transition: 0.6s ease;
                    opacity: 0.75;
                }
            }
            &-list {
                &-item {
                    cursor: pointer;
                    position: relative;
                    padding: 28px 0;
                    transition: 0.6s ease;
                    border-top: 1px solid #000;
                    summary {
                        font-weight: 600;
                        font-size: 29px;
                    }
                    :not(summary) {
                        color: #6E6E73;
                    }
                    li {
                        width: 380px;
                        font-weight: 700;
                    }
                    &-text {
                        width: 80%;
                    }
                    &-toggle {
                        position: absolute;
                        display: inline;
                        height: 20px;
                        top: 28px;
                        right: 5px;
                        width: 21px;
                        height: 22px;
                    }
                    &-list {
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 575px) {
        height: auto;
        &__headline {
            padding: 30px 15px;
            width: 310px;
            font-size: 36px;
            font-weight: 700;
            line-height: 41px;
        }
        &__list {
            padding: 0;
            &-item {
                flex-basis: auto;
                p {
                    color: #6E6E73;
                    width: 300px;
                }
            }
        }
        &__technologies {
            &-inner {
                flex-direction: column;
            }
            &-description {
                padding: 20px;
                &-list {
                    padding: 20px;
                    &-item {
                        li {
                            width: 280px;
                        }
                        &-list {
                            padding: 20px;
                        }
                        &-text {
                            color: #1E1E1E !important;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                        }
                        &-toggle {
                            cursor: pointer;
                            position: absolute;
                            display: inline;
                            height: 20px;
                            top: 33px;
                            right: 30px;
                            width: 21px;
                            height: 21px;
                        }
                    }
                    &-item:last-child {
                        border-bottom: 1px solid #000;
                        margin-bottom: 50px;
                    }
                }
                p {
                    width: 300px;
                }
            }
        }
    }
}
