.possibilities {
    text-align: left;
    &__headline {
        text-align: left;
        margin-top: 150px;
        font-size: 47px;
    }
    &__inner {
        margin-top: -30px;
        display: flex;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        // flex-basis: 50%;
        margin-top: 50px;
        &-item {
            cursor: pointer;
            color: #1E1E1E;
            max-width: 390px;
            width: 390px;
            height: 150px;
            margin-top: 10px;
            background-color: #fff;
            border-radius: 35px;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            padding: 20px;
            text-decoration: none;
            &:visited {
                color: #1E1E1E;
            }
            &--active {
                background-color: #0daa61;
                color: #fff;
                &:visited {
                    color: #fff;
                }
            }
            &-inner {
                width: 250px;
            }
        }
    }
    &__image {
        width: 838px;
        display: none;
        flex-basis: 50%;
        margin: 80px 0 0 60px;
        text-align: center;
        &--active {
            display: block;
        }
    }
    &__mobile-nav {
        display: none;
    }
    @media (max-width: 1024px) {
        &__inner {
            flex-direction: column;
        }
        &__list {
            order: 1;
            margin-top: 20px;
            &-item {
                display: none;
                margin-left: 0;
                width: 300px;
                &--active {
                    display: block;
                }
            }
        }
        &__image {
            margin: 0 auto;
            max-width: 100%;
            img {
                width: 400px;
                object-fit: cover;
            }
        }
        &__headline {
            text-align: center;
            margin-top: 0;
            margin-bottom: 40px;
            font-size: 32px;
            margin-left: 20px;
        }
        &__mobile-nav {
            display: flex;
            margin-top: 20px;
            justify-content: center;
            order: 2;
            &-item {
                cursor: pointer;
                width: 8px;
                border-radius: 11px;
                margin-left: 8px;
                background-color: #1E1E1E;
                &--active {
                    width: 60px;
                    height: 8px;
                    opacity: 0.1;
                    border-radius: 11px;
                }
            }
        }
    }
    @media (max-width: 575px) {
        text-align: left;
        &__inner {
            flex-direction: column;
        }
        &__list {
            order: 1;
            margin-top: 20px;
            &-item {
                display: none;
                width: 340px;
                &--active {
                    display: block;
                }
            }
        }
        &__image {
            text-align: left;
            img {
                width: 285px;
                object-fit: contain;
                min-width: 100%;
            }
        }
        &__headline {
            text-align: left;
            margin-top: 104px;
            margin-bottom: 40px;
            font-size: 32px;
            margin-left: 0;
        }
        &__mobile-nav {
            display: flex;
            margin-top: 20px;
            justify-content: center;
            order: 2;
            &-item {
                cursor: pointer;
                width: 8px;
                border-radius: 11px;
                margin-left: 8px;
                background-color: #1E1E1E;
                &--active {
                    width: 60px;
                    height: 8px;
                    opacity: 0.1;
                    border-radius: 11px;
                }
            }
        }
    }
}
