.subscription {
    width: 100%;
    height: 711px;
    background-color: #1E8702;
    display: flex;
    &__inner {
        display: flex;
        margin-top: 85px;
        &-headline {
            width: 449px;
            font-size: 47px;
            font-weight: 700;
            line-height: 54px;
            color: #fff;
        }
    }
    &__form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        label {
            color: #fff;
            span {
                border-bottom: 1px solid #fff;
            }
        }
        // &-wrapper {
        //     position: relative;
        //     // border-radius: 2px;
        //     padding: 5px;
        //     -webkit-appearance: none;
        //     -moz-appearance: none;
        //     appearance: none;
        //     color: #fff;
        //     padding: 15px;
        //     background-color: rgba(30, 30, 30, 0.15);
        //     width: 590px;
        //     height: 10px;
        //     border: none !important;
        //     border-radius: 53px;
        //     margin-top: 15px;
        // }
        // &-wrapper::after {
        //     content: "▼";
        //     font-size: 1rem;
        //     right: 10px;
        //     position: absolute;
        // }
        &-select {
            position: relative;
            // border-radius: 2px;
            padding: 5px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #fff;
            padding: 0 0 0 15px;
            background-color: rgba(30, 30, 30, 0.15);
            height: 50px;
            border: none !important;
            border-radius: 53px;
            margin-top: 15px;
        }
        &-select:hover { border-color: #888; } 
        &-select:focus { border-color: #aaa; 
            box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
            box-shadow: 0 0 0 3px -moz-mac-focusring; 
            // color: green;
            // color: #222;
            outline: none; 
        } 
        &-select:not([multiple]) {
            padding-right: 1.2em;
            background-repeat: no-repeat;
            background-position: calc(100% - 1.75em) 1.75em;
            background-size: 0.85em auto;
            background-image: url("./../img/select-arrow.svg");
        }
        &-select option[selected] {
            color: green;
        }
        &-select option { font-weight:normal; } 
            *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
            color: green;
            background-position: left .7em top 50%, 0 0; 
            padding: .6em .8em .5em 1.4em; 
        }
        
        &-text-input {
            color: #fff;
            padding: 15px;
            background-color: rgba(30, 30, 30, 0.15);
            width: 590px;
            height: 50px;
            border: none !important;
            border-radius: 53px;
            margin-top: 15px;
        }
        &-text-input:focus {
            outline: 1px solid #fff;
        }
        &-text-input::placeholder {
            color: #fff;
            opacity: 1;
            z-index: 100;
        }
        &-text-label {
            margin: 10px 0 0 20px;
        }
        &-privacy-policy {
            position: relative;
            padding: 20px 0 30px;
            &-link {
                color: #fff !important;
                padding-bottom: 1px;
                border-bottom: 1px solid #fff;
                text-decoration: none;
            }
            &-checkbox {
                position: absolute;
                top: 8px;
                appearance: none;
                border: 1px solid #cacece;
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
                padding: 12.5px;
                border-radius: 50px;
                display: inline-block;
                position: relative;
                margin-right: 10px;
            }
            &-checkbox:checked {
                background-image: url('../img/checkbox-hover.png');
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }
        &-submit-button {
            cursor: pointer;
            color: #fff;
            background-color: #1E1E1E;
            // opacity: 15%;
            width: 290px;
            height: 50px;
            line-height: 19.12px;
            border-radius: 53px;
            margin-top: 15px;
            border: none !important;
            &:hover {
                background-color: #6E6E73;
            }
        }
        // &-select {
        //     display: none;
        // }
    }
    @media (max-width: 1400px) {
        &__inner {
            flex-direction: column;
            margin: 20px;
            &-headline {
                align-self: center;
            }
        }
    }
    @media (max-width: 1024px) {
        &__inner {
            display: block;
            margin-top: 0;
            // margin-left: 20px;
            padding: 20px;
            &-headline {
                margin-top: 50px;
                width: 320px;
                font-size: 32px;
                font-weight: 700;
                line-height: 37px;
            }
        }
        &__form {
            margin-left: 0;
            &-text-input {
                // margin-left: -20px;
                width: auto;
            }
            &-privacy-policy {
                label {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 17px;
                }
            }
            &-submit-button {
                margin: 30px auto 0;
                width: 100%;
            }
        }
    }
    @media (max-width: 575px) {
        &__inner {
            padding: 0;
            margin: 0;
        }
    }
}
