.subscription {
    width: 100%;
    height: 711px;
    background-color: #0DAA61;
    display: flex;
    &__inner {
        display: flex;
        margin-top: 105px;
        &-headline {
            width: 449px;
            font-size: 47px;
            font-weight: 700;
            line-height: 54px;
            color: #fff;
        }
    }
    &__form {
        margin-left: 151px;
        display: flex;
        flex-direction: column;
        label {
            color: #fff;
            span {
                border-bottom: 1px solid #fff;
            }
        }
        &-text-input {
            color: #fff;
            padding: 15px;
            background-color: rgba(30, 30, 30, 0.15);
            width: 590px;
            height: 20px;
            border: none !important;
            border-radius: 53px;
            margin-top: 15px;
        }
        &-text-input:focus {
            outline: 1px solid #fff;
        }
        &-text-input::placeholder {
            color: #fff;
            opacity: 1;
            z-index: 100;
        }
        &-text-label {
            margin: 10px 0 0 20px;
        }
        &-privacy-policy {
            position: relative;
            &-link {
                color: #fff !important;
                padding-bottom: 1px;
                border-bottom: 1px solid #fff;
                text-decoration: none;
            }
            &-checkbox {
                position: absolute;
                top: 8px;
                appearance: none;
                border: 1px solid #cacece;
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
                padding: 9px;
                border-radius: 50px;
                display: inline-block;
                position: relative;
            }
            &-checkbox:checked {
                background-color: #fff;
            }
        }
        &-submit-button {
            cursor: pointer;
            color: #fff;
            background-color: #1E1E1E;
            // opacity: 15%;
            width: 290px;
            height: 50px;
            line-height: 19.12px;
            border-radius: 53px;
            margin-top: 15px;
            border: none !important;
            &:hover {
                background-color: #6E6E73;
            }
        }
    }
    @media (max-width: 575px) {
        &__inner {
            display: block;
            margin-top: 0;
            margin-left: 20px;
            &-headline {
                width: 320px;
                font-size: 32px;
                font-weight: 700;
                line-height: 37px;
            }
        }
        &__form {
            margin-left: 0;
            &-text-input {
                margin-left: -20px;
                width: auto;
            }
        }
    }
}
